.card{
    background-color: #e5e5e5e5;
    padding:2rem;
    border-radius: 0.25rem;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.cardImage{
    text-align: center;
    margin-bottom:2rem;
}
.cardImage img{
    border-radius: 50%;
    max-height: max-content;
    width:16rem;
    height: 16rem;
}

.separator{
    border-bottom:1px solid #000;
}

.socialMedia{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn.btnFollow{
    background: linear-gradient(to right, hsl(210, 92%, 39%), hsl(210, 92%, 45%), hsl(210, 92%, 50%));
    color:#fff;
}

.btn{
    padding:0.75rem;
    border-radius: 0.25rem;
    margin:5px;
    text-align: center;
    transition: all 0.3s ease-in;
    border:none;
    outline: none;
    cursor: pointer;
}
.btn.btnFollow:hover{
    cursor: pointer;
    background: linear-gradient(to left, hsl(210, 92%, 39%), hsl(210, 92%, 45%), hsl(210, 92%, 50%));
    transition: 0.3s;
}