.linkButton{
    text-decoration: none;
    padding:0.75rem;
    background: linear-gradient(to right, hsl(210, 92%, 39%), hsl(210, 92%, 45%), hsl(210, 92%, 50%));
    color:#fff;
    border-radius: 0.25rem;
    margin:5px;
    width:100px;
    text-align: center;
    transition: all 0.3s ease-in;
}
.linkButton:hover{
    background: linear-gradient(to left, hsl(210, 92%, 39%), hsl(210, 92%, 45%), hsl(210, 92%, 50%));
    transition: 0.3s;
    margin-left:10px;
}